/vendor
/node_modules
/public/build
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/framework/cache/data/*
/storage/logs/laravel.log
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/database/database.sqlite
